In [2]:
import keras
import numpy as np
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
model = keras.models.load_model(r"C:\Users\anees\Documents\CS\MP\gru_fasttext.h5")

In [4]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 100)          0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 100, 300)     9000000     input_1[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_1 (SpatialDro (None, 100, 300)     0           embedding_1[0][0]
__________________________________________________________________________________________________
bidirectional_1 (Bidirectional) (None, 100, 160)     182880      spatial_dropout1d_1[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_1 (Glo (None, 160)          0           bidirectional_1[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_1 (GlobalM (None, 160)          0           bidirectional_1[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 320)          0           global_average_pooling1d_1[0][0]
                                                                 global_max_pooling1d_1[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 6)            1926        concatenate_1[0][0]
==================================================================================================
Total params: 9,184,806
Trainable params: 9,184,806
Non-trainable params: 0
__________________________________________________________________________________________________

In [5]:
df = pd.read_csv('../Data Extraction/25subs_500_scored.csv')

In [6]:
df.head()

                                             comment  score   subreddit
0  I think it would be good for him to do a natio...    491  the_donald
1  Um I saw on my home page, r/eeeedacted that he...    137  the_donald
2                    This man will never walk alone     169  the_donald
3  I am fearful that the hatred spewed nightly is...    139  the_donald
4  Amen. We love him and are all so thankful for ...    100  the_donald